<!doctype html>
<html lang='en'>
  <head>
    <title>Buttlog | {{ title }}</title>
    <link rel='stylesheet' href='/css/styles.css'>
    <script src="http://localhost:4000/static/bundles/shared.bundle.js"></script>
    <script src="http://localhost:4000/static/bundles/vendor.bundle.js"></script>
    <script src="http://localhost:4000/static/bundles/main.bundle.js"></script>
  <body>
      <h1>Buttlog</h1>
      <section>
          <h1>API</h1>
          {{ logs }}
      </section>
  </body>
</html>
